* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #f5f5f5;
}

.leftside {
    color: #3d3d3d;
}

nav ul,
nav button,
nav li {
    display: inline-block;

}

nav ul {
    list-style: none;
    padding-inline: 100px;
    
}

nav li {
    margin: 0 50px;
    border-bottom: 3px solid #46a358;
}

section .container {
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    margin-top: 12px;

}

section .leftside {
    display: inline-block;
    max-width: 557px;
    padding: 68px 43px;
    vertical-align: top;
    width: 50%;
}

section .rightside {
    float: right;
    margin-left: auto;
    width: 50%;
}

h2 {
    width: 530px;
    height: 140px;
    padding-top: 91px;
    padding-left: 40px;
    gap: 0px;
    opacity: 0px;

}